@import "../css_folder/reset.css";


.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    table{
        position: relative;
        margin-top: 50px;
        width: 400px;
        height: 600px;
        background-color: aqua;
        tr{
           th{
                width: 25%;
                input{
                    border-width: 100%;
                }
           } 
        }
    }
}

input{
    width: 90%;
    height: 90%;
    font-size: 25px;
    border:  5px black ;
    border-style: groove;
    border-radius: 10px;
    
}
#screen{
    position: relative;
    top: 5px;
    width: 90%;
    height: 80%;
}